body {
  background-color: hsl(225, 100%, 94%);
  background-image: url('./bookmyshow.svg');
}

.card {
  width: 300px;
  height: 250px;
  text-align: center;
  margin: 1px auto;
  border-radius: 10px;
  border: 1px solid rgb(150, 148, 146);
  font-family: Impact;
  font-weight: 700;
  font-size: large;
  background-color: rgb(255, 252, 252);
}
.img {
  margin: auto 760px;
  height: 300px;
  width: 400px;
}

.inputs {
  margin: auto;
  padding: 10px;
}

.user {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border-width: 1px;
}
.pass {
  width: 200px;
  height: 30px;
  border-radius: 4px;
  border-width: 1px;
}

button {
  background-color: whitesmoke;
  border-radius: 4px;
  color: rgb(0, 112, 210);
  border: 1px solid rgb(150, 148, 146);
  cursor: pointer;
}

.submitbutton {
  background-color: rgb(0, 112, 210);
  width: 200px;
  border-radius: 4px;
  color: whitesmoke;
  margin: 30px auto;
  cursor: pointer;
}

button:hover {
  color: black;
}

.signup {
  text-align: center;
  margin: 300px auto;
  font-family: Impact, sans-serif;
  background-color: whitesmoke;
  width: 300px;
  height: 90px;
  border: 1px solid rgb(150, 148, 146);
  border-radius: 10px;
}

.container {
  width: 300px;
  height: 250px;
  text-align: center;
  margin: 250px auto;
  font-family: Impact;
  font-weight: 700;
  font-size: large;
  border-style: groove;
  background-color: white;
}
.seat_container {
  margin: auto 250px;
  display: flex;
  flex-direction: row;
}
.seat {
  width: 25px;
  border: 1px solid #1ea83c;
  cursor: pointer;
  margin: 20px;
  border-radius: 2px;
  text-align: center;
}
.seat.selected {
  background-color: hsl(224, 23%, 55%);
}

.seatsbody {
  background-image: none;
  background-color: white;
}
