body {
  background-color: white;
}

.card {
  width: 300px;
  height: 320px;
  text-align: center;
  margin: 150px auto;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
  font-family: Impact;
  font-weight: 700;
  font-size: large;
}
.img {
  width: 300px;
  height: 150px;
}

.inputs {
  margin: auto;
  padding: 10px;
}

.submitbutton {
  background-color: lightblue;
}

.signup {
  text-align: center;
  margin: 150px auto;
  font-family: Impact, sans-serif;
}

.container {
  width: 300px;
  height: 250px;
  text-align: center;
  margin: 150px auto;
  font-family: Impact;
  font-weight: 700;
  font-size: large;
  border-style: groove;
}
.seat_container {
  display: flex;
  flex-direction: row;
}
.seat {
  width: 100px;
  border-color: black;
  border-style: groove;
  cursor: pointer;
}
.seat.selected {
  background-color: black;
  color: blue;
}
